NVD访问api（workflows）.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: NVD访问api
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: ba639439-2aa2-4e77-9a0a-b929c08e2cbf
    name: cve_id
    selector:
    - env
    - cve_id
    value: '''CVE-2021-1223'''
    value_type: string
  - description: ''
    id: 6fa90018-2ba7-4df4-9b27-991de9d2f48a
    name: NVD_API_KEY
    selector:
    - env
    - NVD_API_KEY
    value: '''fe797238-4a9f-4745-a60d-f33ed2fe1bb3'''
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: tool
      id: 1736687153842-source-1736829857170-target
      source: '1736687153842'
      sourceHandle: source
      target: '1736829857170'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1736829857170-source-1736830909614-target
      source: '1736829857170'
      sourceHandle: source
      target: '1736830909614'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: parameter-extractor
      id: 1736830909614-source-1736829952370-target
      source: '1736830909614'
      sourceHandle: source
      target: '1736829952370'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: parameter-extractor
        targetType: end
      id: 1736829952370-source-1736701062619-target
      source: '1736829952370'
      sourceHandle: source
      target: '1736701062619'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 53
      id: '1736687153842'
      position:
        x: -32.02945016062864
        y: 250.4466067595535
      positionAbsolute:
        x: -32.02945016062864
        y: 250.4466067595535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1736829952370'
          - Description
          variable: result1
        - value_selector:
          - '1736829952370'
          - CWE
          variable: re2
        - value_selector:
          - '1736829952370'
          - kasc
          variable: re3
        selected: false
        title: 结束
        type: end
      height: 141
      id: '1736701062619'
      position:
        x: 1644.5203425585735
        y: 233.93359030952388
      positionAbsolute:
        x: 1644.5203425585735
        y: 233.93359030952388
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: webscraper
        provider_name: webscraper
        provider_type: builtin
        selected: false
        title: 网页爬虫
        tool_configurations:
          generate_summary: null
          user_agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/100.0.1000.0 Safari/537.36
        tool_label: 网页爬虫
        tool_name: webscraper
        tool_parameters:
          url:
            type: mixed
            value: https://nvd.nist.gov/vuln/detail/CVE-2023-5119
        type: tool
      height: 115
      id: '1736829857170'
      position:
        x: 426.02232419926133
        y: 250.4466067595535
      positionAbsolute:
        x: 426.02232419926133
        y: 250.4466067595535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        instruction: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: openai
        parameters:
        - description: 对于CVE的描述
          name: Description
          required: false
          type: string
        - description: cve的弱点描述
          name: CWE
          required: false
          type: string
        - description: 已知受影响的软件配置
          name: kasc
          required: false
          type: string
        query:
        - '1736829857170'
        - text
        reasoning_mode: prompt
        selected: false
        title: 参数提取器
        type: parameter-extractor
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1736829952370'
      position:
        x: 1139.3903205640747
        y: 250.4466067595535
      positionAbsolute:
        x: 1139.3903205640747
        y: 250.4466067595535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        output_type: string
        selected: false
        title: 变量聚合器
        type: variable-aggregator
        variables:
        - - '1736829857170'
          - text
      height: 108
      id: '1736830909614'
      position:
        x: 803.3903205640747
        y: 250.4466067595535
      positionAbsolute:
        x: 803.3903205640747
        y: 250.4466067595535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -37.83966121701883
      y: 359.3163708246004
      zoom: 0.8705505632961241
